@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Ubuntu:wght@300&display=swap');


body{
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blue;
    overflow-x: hidden;
}

.navbar-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
nav .navbar-brand{
    font-size: 1rem;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
}

.navbar{
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 22px 33px;
    
}
 
.collapse{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.nav-item{
    margin: 0 50px 0 50px;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
}

.bg-img{
    width: 100%;
    height: auto; 
    padding-top: 20px;
    margin-bottom: 0;
    
}
.left-text{
    color: white;
    font-size: 2rem;
    width: 80%;
    height: auto;
    text-align: start;
    margin-left: 14px;
    font-family: 'Roboto', sans-serif;
}




/* dropdown on hover */
.dropbtn {
    background-color: #303960;
    color: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 6px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
  }

  .dropdown-content a:hover{
      text-decoration: #303960;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  
.main-section{
    font-size: calc(3.5rem + vw);
    font-family: 'Montserrat',sans-serif;
}




/* carousel-section */
/* .carousel-container{
    background-color:orange;
} */

/*Second section  */

.second-section{
    background-color: rgb(17, 74, 139);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding: 1% 15%;
   
}

h3,h4,h5{
    font-family: 'Ubuntu', sans-serif;
}

.card{
    border-radius: 66px;
    background: #e0e0e0;
    box-shadow:  26px 26px 52px #949494,
             -26px -26px 52px #ffffff;
}

.why-cards{
    
    text-align: center;
    align-items: center;
    justify-content: center;
}

.why-cards .card{
    margin: auto;
    text-align: center;   
}


.card-head{
    padding: 2%;
    background-color: rgb(17, 74, 139);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.card-body{
    text-align: center;
    /* background-color: orange; */
    color: black;
    font-family: 'Ubuntu', sans-serif;
}




/* third-section */
.third-section{
    background-color: orange;
    height: auto;
   
}

.apparel-cards .card{
    margin: 10% 0;
}
.apparel-cards{
    margin-top: 100px;
    padding: 4% 12%;
    justify-content: center;
    text-align: center;
}

.apparel-card-head{
    padding: 2% 10%;
    background-color: orange;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.apparel-card-body1{
    color: rgb(255, 255, 255);
    padding: 9% 10%;
    border: 1px solid rgb(17, 74, 139);
    border-radius: 6px;
    background-color: rgb(17, 74, 139);
    font-family: 'Ubuntu', sans-serif;
}
.apparel-card-body1 a{
    margin-top: 30px;
     
 }

.apparel-card-body2{
    color: rgb(255, 255, 255);
    padding: 14% 10%;
    border: 1px solid rgb(17, 74, 139);
    border-radius: 6px;
    background-color: rgb(17, 74, 139);
    font-family: 'Ubuntu', sans-serif;
}
.apparel-card-body2 a{
   margin-top: 30px;
    
}
.apparel-img1 .img{
    width: 256px;
    
}
.apparel-img2 .img{
     width: 256px;
     
 }
 


/* Fourth section */
.fourth-section{
    text-align: center;
    /* background-color: rgb(17, 74, 139); */

    margin: 2% 4%;
}

@media(min-width: 540px){
    .fourth-section, .fifth-section{
        max-width: 75%;
    }
}

.her-text{
    width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}




/* Fifth section */
.fifth-section{
    text-align: center;
    /* background-color: rgb(17, 74, 139); */
   
}


.his-text{
    width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.cta{
    background-color: #303960;
    color: white;
}

footer{
    text-align: center;
    color: black;
    background: none;
    font-family: 'Ubuntu', sans-serif;
}

/* .carousel{
    width: 75%;
    margin-top: 200px;
    border-radius: 66px;
    background: #e0e0e0;
    box-shadow:  26px 26px 52px #949494,
             -26px -26px 52px #ffffff;
} */

.carousel-card img{
    border-radius: 20px;
}