@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Ubuntu:wght@300&display=swap');


body{
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: blue;
    overflow-x: hidden;
}

.navbar-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
nav .navbar-brand{
    font-size: 1rem;
    font-family: 'Ubuntu',sans-serif;
}

.navbar{
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 22px 33px;
    
}
 
.collapse{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.nav-item{
    margin: 0 50px 0 50px;
    font-family: 'Ubuntu',sans-serif;
}

.bg-img{
    width: 100%;
    height: auto; 
    padding-top: 20px;
    margin-bottom: 0;
    
}
.left-text{
    color: white;
    font-size: 2rem;
    width: 80%;
    height: auto;
    text-align: start;
    margin-left: 14px;
    font-family: 'Roboto', sans-serif;
}


/* carousel-section */
/* .carousel-container{
    background-color:orange;
} */

.text-start{
    font-size: calc(3.5rem + vw);
    font-family: 'Montserrat',sans-serif;
}

/*Second section  */

.second-section{
    background-color: rgb(17, 74, 139);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding: 8% 15%;
    
}



.why-cards{
    padding: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.why-cards .card{
    margin: auto;
    text-align: center;   
}


.card-head{
    padding: 2%;
    background-color: rgb(17, 74, 139);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.card-body{
    text-align: center;
    background-color: orange;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}




/* third-section */
.third-section{
    background-color: orange;
    height: auto;
   
}

.apparel-cards .card{
    margin: 10% 0;
}
.apparel-cards{
    margin-top: 100px;
    padding: 4% 12%;
    justify-content: center;
    text-align: center;
}

.apparel-card-head{
    padding: 2% 10%;
    background-color: orange;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.apparel-card-body1{
    color: rgb(255, 255, 255);
    padding: 9% 10%;
    border: 1px solid rgb(17, 74, 139);
    border-radius: 6px;
    background-color: rgb(17, 74, 139);
    font-family: 'Ubuntu', sans-serif;
}
.apparel-card-body1 a{
    margin-top: 30px;
     
 }

.apparel-card-body2{
    color: rgb(255, 255, 255);
    padding: 14% 10%;
    border: 1px solid rgb(17, 74, 139);
    border-radius: 6px;
    background-color: rgb(17, 74, 139);
    font-family: 'Ubuntu', sans-serif;
}
.apparel-card-body2 a{
   margin-top: 30px;
    
}
.apparel-img1 .img{
    width: 256px;
    
}
.apparel-img2 .img{
     width: 256px;
     
 }
 


/* Fourth section */
.fourth-section{
    text-align: center;
    /* background-color: rgb(17, 74, 139); */

    margin: 2% 4%;
}

.her-text{
    width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}




/* Fifth section */
.fifth-section{
    text-align: center;
    /* background-color: rgb(17, 74, 139); */
   
}


.his-text{
    width: 70%;
    margin: auto;
    height: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.cta{
    background-color: #303960;
    color: white;
}

footer{
    text-align: center;
    background-color: #303960;
    font-family: 'Ubuntu', sans-serif;
}